/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');

html {
    font-size: 130%;
}

html, body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-weight: normal;
    font-size: 250%;
    text-align: center;
    margin-bottom: 2em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid #555;
}

table {
    margin: 0 auto;
}

td, th {
    padding: 0 2em 0 2em;
    text-align: center;
}

td:first-child, th:first-child {
    text-align: left;
}