{% extends 'layout.tpl.html' %}
{% block meta_title %}Who is Jakub Tesárek{% endblock %}
{% block meta_description %}Jakub Tesárek is software engineer and team leader. His goal is to make programming accesible to more people.{% endblock %}

{% block content %}
    <section class="content">
        <h1>Hello World!</h1>
        <p>My name is Jakub Tesárek (Just call me Jacob). I'm a software engineer for {{ 2020 - 2006}} years.
        Few years ago I got a chance to lead my own engineering team in an amazing company.
        It's a long story but it didn't work out. I didn't understand the role and importance of team leader.</p>

        <p>Thankefully I've got a chance to work with lot of amazing leaders since then. I learned a lot from them and
        now I'm leading a team again. On this website I'm sharing my observations and mistakes I've done so you can avoid
        the mistakes I've made and make your own.</p>
    </section>
{% endblock %}